@keyframes anim {
    from {
        margin-left: -200px;
    }
    to {
        margin-left: 0;
    }
}

@-moz-keyframes anim {
    from {
        margin-left: -200px;
    }
    to {
        margin-left: 0;
    }
}

@-webkit-keyframes anim {
    from {
        margin-left: -200px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes slider-anim {
    0% {
        background: url("../images/medicarePlan-1.jpg") no-repeat center center;
        background-size: cover;
    }
    16% {
        background: url("../images/medicarePlan-1.jpg") no-repeat center center;
        background-size: cover;
    }
    33% {
        background: url("../images/medicarePlan-2.jpg") no-repeat center center;
        background-size: cover;
    }
    49% {
        background: url("../images/medicarePlan-2.jpg") no-repeat center center;
        background-size: cover;
    }
    66% {
        background: url("../images/medicarePlan-3.jpg") no-repeat center center;
        background-size: cover;
    }
    81% {
        background: url("../images/medicarePlan-3.jpg") no-repeat center center;
        background-size: cover;
    }
    100% {
        background: url("../images/medicarePlan-1.jpg") no-repeat center center;
        background-size: cover;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}